// .otp-card {
//     width: 275px;
//     padding: 17px;
//     border: 1px solid #ccc;
//     border-radius: 8px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//     text-align: center;
//   height: 220px;

//   }
  
//   .otp-inputs {
//     display: flex;
//     justify-content: space-between;
//     margin-top: 20px;
//   }
  
//   input {
//     width: 40px;
//     height: 40px;
//     text-align: center;
//     font-size: 18px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     outline: none;
//   }
  
//   input:focus {
//     border-color: #007bff;
//   }
//   .otp_page{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
  
//     height: 95vh;
//   }


@keyframes rotate{

        0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
    
}


.otp_image_rotate{
animation: rotate infinite;
}