/* .width_growing{
    background-color: blue;
}
.heading_preloader{
    color:yellow;
}
body{
    background-color: red;
}
#root{
    background-color: blue;
    width: 100vw;
    height: 100vh;
} */